:root {

    /*theme colors*/

    --blue: #00c8ff;
    --blue-dark: #174a7a;
    --blue-gradient: linear-gradient(to top, #5184b4 0%, #174a7a 50%, #002050 100%);

    --green: #18b600;
    --green-dark: #007200;
    --green-gradient: linear-gradient(to top, #18b600 0%, #008f00 50%, #007200 100%);

    --yellow: #f0ac00;
    --yellow-dark: #d08d00;
    --yellow-gradient: linear-gradient(to top, #f0ac00 0%, #d08d00 100%);

    --red: #970000;
    --red-dark: #680000;
    --red-gradient: linear-gradient(to top, #970000 0%, #800000 50%, #680000 100%);

    --savage-bg-fallback: #00c8ff;
    --savage-bg: linear-gradient(135deg, #ff3300 0%, #ff5100 5%, #e97a15 20%, #76a088 40%, #00c8ff 100%);

    --ink: #000021;

}

/*Typography*/
/*100,300,400,900*/
h1, h2, h3, .display-heading {
    font-family: 'Permanent Marker', cursive;
}
h4, h5, h6 {
    font-family: 'raleway', sans-serif;
}
h5 {
    font-weight: 400;
    font-size: 1rem;
}
a {
    color: black;
}
a:focus, a:hover {
    text-decoration: none;
}
html {
    /*height: 100%;*/
}
body {
    /*height: 100%;*/
    font-family: 'raleway', sans-serif;;
    background: var(--savage-bg);
    color: var(--ink);
}
header {
    /*height: 100%;*/
    width: 100%;

    /*background-image: url("../images/Background.bmp");*/
    background-size:cover;
}
.site-logo {
    max-height: 260px;
    object-fit: contain;
}
.social-links {
    padding-top: 20px;
}
.social-link {
    padding-left: 5px;
    padding-right: 5px;
}
.social-tripadvisor:hover{
    color: #00af87;
}
.social-facebook:hover{
    color: #3b5998;
}
.social-twitter:hover{
    color: #1da1f2;
}
.social-instagram:hover{
    color: #003569;
    opacity: .5;
}
.social-youtube:hover{
    color: #ff0000;
}