h1, h2, h3, h4, h5, .key-number, .extra-number {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}
h1 {
    font-size: 3.5rem;
    margin-bottom: 0;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 1rem;
    display: inline;
}
h4 {
    font-size: 0.8rem;
    /*display: inline;*/

}
body {
    font-family: 'Krub', sans-serif;
    background-color: whitesmoke;
}
header {
    padding: 10px;
    background-color: #8E44AD;
    background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
    color: whitesmoke;
}
h3 a {
    text-decoration: none;
    color: inherit;
}
h3 a:hover {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
    transition: font-size 0.5s;
}
h3 a:hover .fas{
    animation: fa-spin 2s infinite linear;
}
@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}

.row{
    max-width: 100%;
    margin: 0;
}

.chart {
    position: relative;
    margin: 15px 5px 15px 5px;
    background-color: white;
    border-radius: 5px;
}
.full-width-chart {
}

.key-info-row{
    margin-bottom: 15px;
}
.key-info-card{
    height: 150px;
    color: white;
    padding: 15px 50px 15px 50px;
}
.key-info-card .key-number {
    display: inline;
    font-size: 5rem;
}
.key-info-card .key-change-number {
     display: inline;
}
.key-info-card .key-change-symbol {
    display: inline;
    margin-left: 60px;
    font-size: 2rem;
}
.blue-card {
    background: #76c4e2;
    background: linear-gradient(to bottom left,#76c4e2,#8176b5);
}
.green-card {
    background: #85cba8;
    background: linear-gradient(to bottom left,#85cba8,#76c4e2);
}
.orange-card {
    background: #ffdb6f;
    background: linear-gradient(to bottom left,#ffdb6f,#f69259);
}
.purple-card {
    background: #ba77b1;
    background: linear-gradient(to bottom left,#ba77b1,#8176b5);
}

.extra-info-card {
    text-align: center;
    color: #76c4e2;
    background-color: white;
    border-radius: 5px;
    margin: 15px 5px 15px 5px;
    padding: 10px
}
.extra-number {
    font-size: 4rem;
}
.extra-info-col {
    padding: 0;
}