h1, h2, h3, h4, h5, .key-number {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}
h1 {
    font-size: 3.5rem;
    margin-bottom: 0;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 1rem;
    display: inline;
}
h4 {
    font-size: 0.8rem;
    /*display: inline;*/

}
body {
    font-family: 'Krub', sans-serif;
    background-color: whitesmoke;
}
header {
    padding: 10px;
    border-bottom: 3px solid #8E44AD;
    background-color: #8E44AD;
    color: whitesmoke;
}
h3 a {
    text-decoration: none;
    color: inherit;
}
h3 a:hover {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
    transition: font-size 0.5s;
}
h3 a:hover .fas{
    animation: fa-spin 2s infinite linear;
}
@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}

.row{
    max-width: 100%;
    margin: 0;
}

.chart {
    position: relative;
    /*border: 1px solid;*/
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
}
.top-chart {
    width: 100%;
    position: relative;
    /*border: 1px solid;*/
}

.key-info-card{
    height: 150px;
    color: white;
    padding: 15px 50px 15px 50px;
}
.key-info-card .key-number {
    font-size: 5rem;
    display:inline;
}
.key-info-card .key-change-number {
     display:inline;
}
.key-info-card .key-change-symbol {
    display:inline;
    margin-left:60px;
    font-size: 2rem;
}
.blue-card {
    background: #76c4e2;
    background: linear-gradient(to bottom left,#76c4e2,#8176b5);
    background-size: cover;
    background-position: center;
}
.green-card {
    background: #85cba8;
    background: linear-gradient(to bottom left,#85cba8,#76c4e2);
    background-size: cover;
    background-position: center;
}
.orange-card {
    background: #ffdb6f;
    background: linear-gradient(to bottom left,#ffdb6f,#f69259);
    background-size: cover;
    background-position: center;
}
.purple-card {
    background: #ba77b1;
    background: linear-gradient(to bottom left,#ba77b1,#8176b5);
    background-size: cover;
    background-position: center;
}